In [ ]:
import sqlite3
conn = sqlite3.connect('test.db')

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS COUNTRIES(  
  COUNTRY_id VARCHAR(2),  
  COUNTRY_name VARCHAR(40)  
  CHECK(COUNTRY_name IN('Italy','China','India')),   
  REGION_id DECIMAL(10,0));
''')
conn.commit()
print("Country table created")

NameError: ignored

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS COUNTRIES(  
  COUNTRY_id VARCHAR(2) NOT NULL UNIQUE PRIMARY KEY,
  COUNTRY_name VARCHAR(40) NOT NULL);
''')
conn.commit()
print("Countries table created")

Countries table created

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS COUNTRY_new
AS SELECT * FROM COUNTRIES;
''')
conn.commit()
print("Country_New table created")

Country_New table created

In [ ]:
conn.execute('''
SELECT * FROM COUNTRY_new;
''')
conn.commit()
print("Viewing")

Viewing

In [ ]:
conn.execute('''
INSERT INTO COUNTRY_new (COUNTRY_id, COUNTRY_name)
VALUES ('02', 'India');
''')

conn.execute('''
INSERT INTO COUNTRY_new (COUNTRY_id, COUNTRY_name)
VALUES ('01', 'China');
''')
conn.execute('''
INSERT INTO COUNTRY_new (COUNTRY_id, COUNTRY_name)
VALUES ('03', 'Italy');
''')
conn.commit()

NameError: ignored

In [ ]:
conn = sqlite3.connect('test.db')
cursors = conn.execute('''
SELECT * FROM COUNTRY_new;
''')
for row in cursors:
  print(row)

NameError: ignored